.Setup-bar {
  padding: 30px;
}

.Setup-bar input:focus,
.Setup-bar button:focus {
  outline: none;
}

.Setup-button {
  background-color: #523f38;
  border: 1px solid #523f38;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-size: 1rem;
  padding: 0.8rem;
  color: #fff;
  transition: background-color 0.25s;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.Setup-dropdown {
  font-family: "Lato", sans-serif;
  outline: none;
}

@media screen and (max-width: 991px) {
  .Setup-button {
    margin-bottom: 1rem;
  }

  #desktop-buttons {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .Setup-dropdown {
    display: none !important;
  }
}

.Setup-bar button:hover,
.Button-active {
  border-color: #ff715b;
  background-color: #ff715b;
}
